body {
    background: #cccccc;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://unsplash.it/1200/800/?random');
*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-fill-mode: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #00daeb;
}

.btn:hover {
    background-color: #ffd018;
}

.container {
    background: white;
    padding: 20px 25px;
    /* border: 5px solid #26a69a; */
    width: 800px;
    box-sizing: border-box;
    position: relative;
}

.data-koperasi {
    background: aqua;
}

.col.s6 > .btn {
    width: 100%;
}

.col.s12.x > .btn {
    width: 100%;
}

.gender-male,
.gender-female {
    display: inline-block;
}

.gender-female {
    margin-left: 35px;
}

radio:required {
    border-color: red;
}

.container {
    animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}

@keyframes showUp {
    0% {
        transform: scale(0);
    }
    100% {
        transoform: scale(1);
    }
}

.row {
    margin-bottom: 10px;
}

.ngl {
    position: absolute;
    top: -20px;
    right: -20px;
}

h5 {
    color: royalblue;
    font-size: 1.3em;
    text-decoration: underline;
    font-weight: bolder;
    text-transform: uppercase;
}

p { font-size: 0.9em; }

label {
    font-size: 2em;
}

.input-field input[type=text] {
    border: 1px solid purple !important;
  padding-left:10px;
}

.input-field input[type=text]:focus {
background-color: #00daeb;
}

.input-field input[type=email] {
    border: 1px solid purple !important;
  padding-left:10px;
}

.input-field input[type=email]:focus {
background-color: #00daeb;
}

.input-field input[type=number] {
    border: 1px solid purple !important;
  padding-left:10px;
}

.input-field input[type=number]:focus {
    background-color: #00daeb;
    }