/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.container-fluid{
    padding-left: 0 !important;
    margin-left: 10px;
}

/* p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
} */

#sidebar a, #sidebar a:hover, #sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 24px 10px;
    background: #fff;
    border: none;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 0;
    margin-bottom: 10px; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    /* background: #f78604; */
    background: linear-gradient(-135deg, #4166a0, #375a91 , #10336b,#03255b);
    /* background: linear-gradient(-90deg, #fcb61e, #fca31e , #ff7700,#ff7700,#ff7700,#ff6a00,#ff6a00,#ff6a00,#ff7700,#ff7700, #fca31e, #fcb61e); */
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0px 2px 3px #ccc;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px 20px 22px 20px;
    background: #fff;
    color: #4286f4;
    border-right: 1px solid #ccc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #d17206;
}

#sidebar ul li a {
    padding: 15px 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar > ul > li > a:hover {
    color: #f78604 !important;
    background: #fff  !important;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul ul li a, #sidebar ul ul li a:active, #sidebar ul ul li a:visited {
    color: #f78604;
}

#sidebar ul ul li a:hover, #sidebar ul ul li a.current{
    background-color: transparent;
    color: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    /* background: #f78604; */
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.title-page{
    margin-top:10px !important;
    margin-left: 10px !important;
    text-align: center;
    width: 90%;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 0 20px 20px 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;    
}

.container-box{
    width: 100%;
    padding: 2% 2%; 
    background-color: #fff;
    overflow-x:scroll;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar h3{
    /* padding-left: 2.5%; */
    float: left;
    color: #666;
}

span.selection{
    display: block;
}

.select2-container--default .select2-selection--single{
    height: 35px;
}

.select2-container{
    height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 35px;
    padding-top: 2px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top:4px
}

.my_class{
    height: 1000px;
}

.btn.mini{
    font-size: 13px;
    margin:3px;
    padding:5px 8px;
    /* float: left; */
    /* font-weight: bold; */
    /* padding: 5px; */
    /* color: #6d7fcc; */
}

.btn.mini i{
    font-size: 14px;
}

.navbar h3 > .glyphicon{
    margin-right: 10px;
}

.dt-right{
    text-align: right;
}

.dt-center{
    text-align:center;
}

th{
    text-align: center !important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.img-preview-box{
    margin-top:20px;
    margin-bottom:20px;
    display: block;
}

.img-preview-box .prev-cap{
    display: block;
}

.img-preview-box .no-img{
    border:1px solid #aaa;
    color:#666;
    padding:5px;
    width: auto;
}

legend{
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.nav-scroll{
    width:60px;
    max-height: 120px;
    text-align: center;
    padding: 20px 0 20px 4px;
    border-radius: 5px;
    position: fixed;
    bottom: 15px;
    left: 30px;
    font-size: 30px;
    border:1px solid #666;    
    color:#666;
    cursor: pointer;
    opacity: 0.3;
}

.nav-scroll:hover{
    opacity: 0.7;
}
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.7;
    background-color: #000;
    z-index: 99;
    text-align: center;
    display: none;
 }
 
 #loading .loader {
   margin-top: 20%;
   margin-left: auto;
   margin-right: auto;
   z-index: 100;
 }

 .form-horizontal .control-label{
     text-align: left !important;
 }
/* 
 textarea.form-control{
     height:120px;
 } */

 .bootstrap-tagsinput{
     width: 100%;
     display: block;
 }

 .act-float{
     position: fixed;
     bottom: 15px;
     right: 0px;
     padding: 12px 20px;
     background-color: rgba(240, 240, 240, 0.5);
     border: 1px solid #bbb;
     border-radius: 5px;
     /* border-top-left-radius: 5px;
     border-top-right-radius: 5px; */
 }

 .act-float:before{
     display:block;
     content:'Action';
     position: absolute;
     top:-10px;
     font-size: 10px;
     background-color: #666;
     color:#fff;
     /* border: 1px solid #ccc; */
     padding: 1px 5px;
     left:10px;
 }

 .toggle-min{
     float: right;
     cursor: pointer;
 }

 fieldset .form-horizontal{
     overflow: hidden;
 }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media(min-width :768px){
    .navbar{
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
}
